body {
    background: #f1f1f1;
}

/*BARRA LATERAL costado.php*/
/*boton de menu lateral cerrado*/
.btn_menu0{
    cursor: pointer;
    padding:10px;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    color: black;
}
/*barra lateral*/
.barra-lateral {
    background-color: #3498DB;
    color: #fff;
    min-width: 230px;
    min-height: 100vh;
   padding: 0;
}
.barra-lateral a {
    color: #fff;   
}
.barra-lateral .menu a {
    display: block;
    padding: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.barra-lateral .menu a:hover {
    background-color: #003C5D;
    text-decoration: none;
}
/*boton de menu lateral abierto*/
.btn_menu{
    cursor: pointer;
    padding:10px;
    padding-left: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    color: white;
}
/*lista*/
ul{
    padding-left: 15px !important; 
}
li {
    list-style: none;
}
#titulo{
    cursor: default;
}
#titulo:hover{
    background-color: transparent;
}
/*iconos de lista*/
.iconos{
   font-size: 25px;
   padding-right: 20px; 
}




/*BARRA SUPERIOR superior.php*/
/*barra*/
.barra {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: white;
    font-size: 140%;
    background-color: #3498DB;
<<<<<<< HEAD


=======
>>>>>>> 83f959fc5fe06afd5319c9e4289d01d659c625a9
}
/*logo jacesi*/
.imagen{
    height: 90px;
    width: 90px;
}
/*usuario*/
.dropdown-menu {
    margin: 17px;
    background: #262a34;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
.menuperfil {
    color: white;
}
.cerrar:hover {
    background-color: #3498DB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
.entrar:hover {
    background-color: #3498DB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
.miperfil:hover {
    background-color: #3498DB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
.entrar{
    display: none;
}
.user {
    font-size: 35px;
}




/*MAIN*/
.main {
    padding-top: 40px;
}
.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}



/*FORMULARIOS*/
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

<<<<<<< HEAD
  }
.imagen{
    height: 80%;
    width: 10%;
}

.dropdown-menu {
    margin: 17px;
    background: #262a34;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menuperfil {
    color: white;
}

.menuperfil:focus {
    background: #23ae6b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.cerrar:hover {
    background-color: #3498DB;
   /* background-color: rgba(206, 65, 22, 0.877);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.entrar:hover {
    background-color: #3498DB;
   /* background-color: rgba(206, 65, 22, 0.877);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.entrar{
    display: none;
}

.user {
	position: absolute;
    padding-right: 0px;
	padding-top:8px;
    font-size: 90%;
	
}

.iconos{
   font-size: 25px;
   padding-right: 20px; 

}
li {
    list-style: none;
}

/*BARRA LATERAL*/

.barra-lateral {
    
    background-color: #3498DB;
    /*background: #252121;*/
    color: #fff;
    min-width: 230px;
    min-height: 100vh;
   padding: 0;
    /* padding: 0 !important;*/
}

.barra-lateral a {
    color: #fff;   
}
.btn_menu0{
    cursor: pointer;
    padding:10px;
    padding-left: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    color: black;

}
.btn_menu{
    cursor: pointer;
    padding:10px;
    padding-left: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    color: white;

}
/*boton de menu lateral*/
.boton .boton{
	background-color: #003C5D;
}

/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
   
}

.barra-lateral .menu a:hover {
    /*background-color: rgba(255, 255, 255, 0.485);
    background-color: rgba(255, 255, 255, .1);*/
    background-color: #003C5D;
    text-decoration: none;
}

#titulo{
    cursor: default;
}

#titulo:hover{
    background-color: transparent;
}

.active {
    background: #003C5D;
}

.barra-lateral .menu a i {
    margin-right: 20px;
=======
>>>>>>> 83f959fc5fe06afd5319c9e4289d01d659c625a9
}




/*TABLAS*/
.encabezado{
    text-align: center;
}




/*mediaquerys

@media screen and (max-width:1300px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    .barra {
        min-width: auto;
    }
    .dropdown-menu {
        margin: 20px -79px 0px;
    }
}
@media screen and (max-width:575px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78px 0px;
    }
    .logocppe {
        width: 100%;
    }
    body {
        background: #f1f1f1;
        font-size: 16px;
        overflow: visible;
    }
}
@media screen and (max-width:575px) {
    .barra-lateral {
        height: auto;
    }
    .barra-lateral.menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78 0px;
    }
    body {
        font-size: 16px;
        overflow: visible;
    }
}*/
/*responsive tablas*/
@media screen and (max-width:1000px){
    .table{
        border: 0px;
        background-color:white;
    }
    .table thead {
        display: none;
    }
    .table tr{
        margin-bottom: 8px;
        border-bottom: 6px solid #3498DB;
        display: block;
    }
    .table th, table td{
        font-size: 18px;
        display: block;
        border-bottom: 1px solid white;
        text-align: right;
    }
    .table td:last-child{
        border-bottom: 0px;
    }
    .table td::before, .table th::before{
        content: attr(data-label);
        float: left;
    }
    .encabezado{
        font-size:25px;
    }
   }