body{
    background-color: #3498DB;
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 white;

  }
  .barra {
    background-color: #3498DB;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    color: white;
    font-size: 32px;
}
.imagen{
    height: 90px;
    width: 90px;
}
.dropdown-menu {
    margin: 17px;
    background: #262a34;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
.menuperfil {
    color: white;
}

.menuperfil:focus {
    background: #23ae6b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.cerrar:hover {
    background-color: #3498DB;
   /* background-color: rgba(206, 65, 22, 0.877);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.user {
    font-size: 35px;
}

.iconos{
   font-size: 30px;
   padding-right: 20px; 

}
textarea{
    resize: none;
}
.link{
    color: white;
   }
.link:hover{
 color: black;
}
  a:link, a:visited, a:active {
    text-decoration:none;
}
footer {
    background-color: #3498DB;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
  }

  @media screen and (max-width:1300px) {
    .barra {
        min-width: auto;
    }
}

@media screen and (max-width:575px) {
    body {
        font-size: 16px;
        overflow: visible;
    }
}

@media screen and (max-width:575px) {
    body {
        font-size: 16px;
        overflow: visible;
    }
}